@media  screen and (max-width: 800px){
    .wrapBox{
        flex-direction: column;
        height: 800px;
    }
    .box_H{
        height: 250px;
        width: 100%;
    }
    .box_A{
        height: 100px;
    }
    .wrapSmallBoxes{
        width: 100%;
    }
    .main{
        width: 100%;
    }
}