body{
    margin: 0;
}
.main{
    height: 600px;
    width: 100%;
}
.box_A{
    height: 200px;
    width: 100%;
    background: #0e0d0d;
}
.wrapBox{
    height: 400px;
    width: 100%;
    display: flex;
}
.wrapSmallBoxes{
    height: 400px;
    width: 75%;

    display: flex;
    flex-wrap: wrap;
}
.box_H{
    height: 400px;
    width: 33.33%;
    background: red;
}
.smallBox{
    height: 50%;
    width: 33.33%;
    background: linear-gradient(45deg, blue, yellow );
}
